<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" type="text/css">
		
</head>

<body>
	<div class="container">
		@RenderBody()	
	</div>
</body>
</html>